<!-- Placement v2 -->
%klarna-placement{ data: { key: 'credit-promotion-auto-size', locale: 'en-US', purchase_amount: (product.sell_min_price&.cents || 0), klarna_placement_refresh: request.xhr? } }
<!-- end Placement -->
